build/
dist/
dinov3/ChannelViT/
outputs/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

# Ignore shell scripts
*.sh

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/
benchmark_data/features
dinov3/webdataset_2.md
dinov3/webdataset_1.md
dinov3/test_print.py
dinov3/webdataset_frame.md
dinov3/webdataset_pipe.md
dinov3/webdataset_test.md
dinov3/webdataset.md
dinov3/.cursorrulues
dinov3/ray_webdataset.md
dinov3/dataset_webdataset/test
dinov3/test_print.py
dinov3/dataset_webdataset/
dinov3/smart_sharding
dinov3/dataset_webdataset