build/
dist/
dinov3/ChannelViT/
outputs/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks

# Ignore shell scripts
*.sh

# Ignore swap files
*.swp

# Ignore vscode directory
.vscode/
benchmark_data/features
benchmark_data
dinov3/.cursorrulues
dinov3/ray_webdataset.md
dinov3/dataset_webdataset/test
dinov3/test_print.py
dinov3/dataset_webdataset/
dinov3/smart_sharding
dinov3/dataset_webdataset
cache
dinov3/eval/segmentation/models/utils/ops/build_msda.log